.main{
  background: linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgb(0, 0, 0) 100%);
  width: 100%;
  height: -webkit-fill-available;
  display: grid;
  flex-direction: column;
  align-items: center;
  gap: 51px;
  overflow-y: auto;
  overflow-x: hidden;
  justify-items: center;
}
.header{
  height: 100px;
  background-color: black;
  width: 100%;
  padding-left: 4%;
  display: flex;
  align-items: center;
  .logo_spotify{
    display: block;
    width: 10.5rem;
    cursor: pointer;
  }
}
.section{
  height: auto;
  width: 100%;
  border-radius: 5px;
  background-color: #121212;
  padding: 2%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    color: white;
    text-align: center;
    font-size: 2.7rem;
    font-family: sans-serif;
    
  }
}
.article{
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 31%;
  width: 100%;
  align-items: center;
  justify-content: center;
  button{
    display: flex;
    width: 43%;
    background: transparent;
    border: 1px solid #727272;
    border-radius: 500px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.9);
    flex-direction: row;
    align-items: center;
    padding: 1.5% 3%;
    font-weight: 700;
    &:hover{
      border-color: white;
      cursor: pointer;
    }
  }
  .logo_google{
    display: block;
    background: url(https://accounts.scdn.co/sso/images/new-google-icon.72fd940a229bc94cf9484a3320b3dccb.svg);
    width: 1.5rem;
    height: 1.5rem;
  }
  .logo_fb{
    display: block;
    background: url(https://accounts.scdn.co/sso/images/new-facebook-icon.eae8e1b6256f7ccf01cf81913254e70b.svg);
    width: 1.5rem;
    height: 1.5rem;
  }
  .logo_apple{
    display: block;
    background: url(https://accounts.scdn.co/sso/images/new-apple-icon.e356139ea90852da2e60f1ff738f3cbb.svg);
    width: 1.5rem;
    height: 1.5rem;
  }
  p{
    margin: auto;
  }
}
.line{
  width: 68%;
  display: block;
  height: 2px;
  margin: 23px 0;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  border-top: 1px solid rgb(41, 41, 41);

}

.form{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  input{
    margin-bottom: 3%;
    margin-top: 1%;
    width: 40%;
    height: 35px;
    background: transparent;
    border: 1px solid #ffffff7d;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    padding: 1% 2%;
    &:focus{
      box-shadow: inset 0 0 0 2px #ffffff;
    }
    &:focus-visible {
      outline: none;
 
    }
  }
  label{
    font-family: sans-serif;
    margin-bottom: 3px;
    width: 44%;
    font-size: 14px;
    font-weight: 700;
  }

  button{
    background-color: #1ed760;
    background-color: #1ed760;
    width: 46%;
    height: 45px;
    border: transparent;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    &:hover{
      transform: scaleX(104%);
      cursor: pointer;
    }
  }
  p{
    margin-top: 3%;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    width: 47%;
    span{
      text-decoration: underline;
      font-weight: 100;
      font-size: 13px;
      &:hover{
        color: rgb(30, 215, 96)
      }
    }
    a{
      text-decoration: none;
      color: white;
      &:hover{
        color: rgb(30, 215, 96)
      }
    }
  }

}
.forgotPassword{
  margin-top: 40px;
  color: white;
  text-decoration: underline;
}
.forgotPassword:hover{
  color: #1ed760;
}

.subs{
  display: flex;
  display: flex;
  align-items: center;
  width: 52%;
  gap: 8px;
}
.subs p{
  margin: 0;
  text-align: end;
  cursor: default;
}
.subs a{
  color: white;
  text-decoration: underline;
}
.subs a:hover{
  color: #1ed760;
}

@media screen and (max-width: 750px) {
  .main{
    background: black;
  }
  .section{
    width: 100%;
    background-color: black
  }
}